* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 64px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-class {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.middle {
    position: relative;
    left: -263px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 27px;
}

.middle-end {
    position: relative;
    left: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.last {
    position: relative;
    left: -63px;
    display: flex;
    justify-content: space-between;
    padding: 131px;
}

.button-1 {
    border: 0;
    width: 175px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E8EFF2;
    color: #162542;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
}

.top {
    display: flex;
}

h5 {
    color: #162542;
    font-family: Barlow;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    /* 100% */
    text-transform: uppercase;
    width: 445px;
}

.p-1 {
    width: 445px;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

.button-2 {
    border: 0;
    cursor: pointer;
    width: 175px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F16718;
    color: #FFF;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    text-transform: uppercase;
}

.but-text-end {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    text-transform: uppercase;
}

.top-div-but {
    display: flex;
    gap: 40px;
}

h4 {
    width: 255px;
    color: #162542;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    /* 112.5% */
    text-transform: uppercase;
}

.p-2 {
    width: 255px;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
}

.same {
    width: 255px;
    color: #162542;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    /* 116.667% */
    text-transform: uppercase;
}

.same-p {
    position: relative;
    top: 17px;
    width: 255px;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
}

.last-p {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
}

span {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.last {
    display: flex;

}

.last-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txhalf {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
}

.half {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.button-1:hover {
    background-color: #162542;
    color: white;
    cursor: pointer;
}

.button-2:hover {
    background: #FF9B62;
    color: white;
    cursor: pointer;
}

.img-top {
    position: relative;
    top: -237px;
    left: 10px;
}

.midd-img {
    position: relative;
    width: 255px;
    height: 236px;
    top: 247px;
}

.last-img4 {
    position: relative;
    top: -3.7px;
}

.lastimg {
    position: relative;
    top: -27px;
}